
.home-container {
    position: relative;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #aeb1b4;
    
  }
  
  .home-content::before {
    content: "";
    background-image: url("images/iStock-1160804712-1320x880.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5; /* Lower the opacity here */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
   
  }
  .home-content {
    margin-top: 2rem;
    z-index: 1;
  }
  
  .home-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color:#672461c6;
  }
  
  .home-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .home-content button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    background-color:  #672461c6;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .home-content button:hover {
    background-color:  rgb(255, 136, 25);
    color:  #000000c6;
    cursor: pointer;
    transform: scale(1.05); /* Add this property to increase the size of the button when hovered on */
    z-index: 1; /* Add this property to bring the button to the front on hover */

  }
  
  .home-content button:active {
    background-color: #003366;
    box-shadow: none;
  }
  .home-buttons {
    display: flex;
    gap: 16px;
  }
  /* .home-content button a {
    color: #fff;
    text-decoration: none;
  }
  
  .home-content button a:hover {
    text-decoration: none;
    color: #fff;
  } */
  
  

  
  .home-highlight {
    color: rgb(255, 136, 25);
    z-index: 1;
  }
  